<script src="https://unpkg.com/vue"></script>

<div id="app1">
    <contador1></contador1>
    <contador1></contador1>
    <contador1></contador1>
</div>

<hr>

<div id="app2">
    <app-contador></app-contador>
    <app-contador></app-contador>
    <app-contador></app-contador>
</div>

<script>
    //registrando o componente de forma local
    const contador = {
        template: `
            <div>
                <span>{{ contador }}</span>
                <button @click="contador++">+</button>
                <button @click="contador--">-</button>
            </div>
        `,
        data: function(){
            return {
                contador: 0
            }
        }
    }

    new Vue({
        el: '#app1',
        //registro local de componente
        components: {
            contador1: contador
        }
    })
    
    new Vue({
        el: '#app2',
        components: {
            'app-contador': contador
        }
    })
</script>