<script src="https://unpkg.com/vue"></script>

<div id="app">
    <contador></contador>
    <contador></contador>
    <contador></contador>
</div>

<script>
    //registrando o componente de forma global
    Vue.component('contador', {
        template: `
            <div>
                <span>{{ contador }}</span>
                <button @click="contador++">+</button>
                <button @click="contador--">-</button>
            </div>
        `,
        data: function(){
            return {
                contador: 0
            }
        }
    })

    new Vue({
        el: '#app'
    })
</script>