<template>
    <div>
        <Rotulo nome="Nome">
            <input type="text" :value="value.nome" @input="alterarNome">
        </Rotulo>
        <Rotulo nome="Sobrenome">
            <input type="text" :value="value.sobrenome" @input="alterarSobrenome">
        </Rotulo>
    </div>
</template>

<script>
import Rotulo from './Rotulo.vue'
export default {
    components: {
        Rotulo
    },
    props: {
        value:{
            type: Object,
            required: true
        }
    },
    methods: {
        alterarNome(event){
            //o objeto de retorno para que o v-model funcione entre componentes tem que ser igual ao recebido
            this.$emit('input', {nome: event.target.value, sobrenome: this.value.sobrenome})
        },
        alterarSobrenome(event){
            this.$emit('input', {nome: this.value.nome, sobrenome: event.target.value})
        }
    }
}
</script>