<script src="https://unpkg.com/vue"></script>
<style>
    #efeito{
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

    .destaque{
        background-color: red;
        width: 200px !important;
    }
    .encolher{
        background-color: grey;
        width: 50px !important;
    }
    .myClass{
        border: 10px dashed green;
    }
</style>

<div id="app">
    <!-- 1. -->
    <button @click="alternarEfeito">Alternar</button>
    <div id="efeito" :class="{destaque: alternaClasse, encolher: !alternaClasse}"></div>

    <!-- 2 -->
    <div :class="['destaque', myClass]">CSS AQUI</div>

    <!-- 3 -->
    <div style="height:10px" :class="classeDigitada"></div>
    <input v-model="classeDigitada">

    <!-- 4 -->
    <div style="height:10px" :class="classeDigitada2"></div>
    <input v-model="classeDigitada" @input="aplicaEfeitoOuNao">
    <input v-model="aplicaOuNao" @input="aplicaEfeitoOuNao">

    <!-- 5 -->
    <div style="height:10px" :style="myStyle"></div>
    <input v-model="myStyle">

    <!-- 6 -->
    <br><br><br><br>
    <button @click="iniciaBarra">Barra de Progresso</button>
    <progress :value="valueBarra" max="100"> {{valueBarra}}%
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            alternaClasse: false,
            myClass: 'myClass',
            classeDigitada: '',
            classeDigitada2: '',
            aplicaOuNao: 'true',
            myStyle: '',
            valueBarra: 0
        },
        methods: {
            alternarEfeito(){
                setInterval(()=>{
                    this.alternaClasse = !this.alternaClasse
                },500);
            },
            aplicaEfeitoOuNao(){
                if(this.aplicaOuNao == 'true'){
                    this.classeDigitada2 = this.classeDigitada
                }else{
                    this.classeDigitada2 = '';
                }
            },
            iniciaBarra(){
                const interval = setInterval(() => {
                    this.valueBarra++;
                    if(this.valueBarra >= 100){
                        clearInterval(interval);
                    }
                }, 100)
            }
        }

    })
</script>