<script src="https://unpkg.com/vue"></script>
<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width:100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
    .girar{
        transform: rotate(45deg);
    }
    .umaclassequalquer{
        height: 300px;
    }
</style>

<div id="app">
    <div class="caixas">
        <!--
            Podemos aplicar o estilo diretamente. Sem classes

            Uma forma de fazer isso é através do v-bind passando um objeto, onde há elementos {key:valor}, onde key é o nome do atributo css e valor é um atributo
            Por exemplo: {'background-color':cor}, onde background-color é o nome da propriedade e cor é o atributo. O atributo é manipulado pela instância do VueJS
            Uma forma de nomear a propriedade é por camelCase sem uso de aspas.
            {backgroundColor: cor}
        -->
        <div class="demo" :style="{'background-color':cor}"></div>
        <div class="demo" :style="{backgroundColor: cor}"></div>
        <div class="demo" :style="meuEstilo"></div>
    </div>
    <hr>
    <!-- alterando o valor do atributo pelo input através do v-model -->
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            cor: 'blue',
            largura: 100            
        },
        computed: {
            //se temos algo complexo, é mais interessante usar propriedade computada, retornando um objeto com configurações de estilos CSS
            meuEstilo(){ 
                return {
                    backgroundColor: this.cor,
                    width: `${this.largura}px`,
                    height: '100px' 
                }
            }
        }
    })
</script>