<script src="https://unpkg.com/vue"></script>
<style>
    #app{
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width:100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
</style>

<div id="app">
    <!-- para aplicar classes, usarmos o v-bind:class, ou apenas :class, o qual é composto por chave:valor, onde a chave é o nome da classe e o valor é do tipo booleano. Se verdadeiro, aplica a classe, senão, não aplica. -->
    <div class="demo" :class="{c1: aplicarC1}" @click="aplicarC1 = !aplicarC1"></div>
    <div class="demo"></div>
    <div class="demo"></div>
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            aplicarC1: false
        },
    })
</script>