<script src="https://unpkg.com/vue"></script>
<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width:100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
    .girar{
        transform: rotate(45deg);
    }
    .umaclassequalquer{
        height: 300px;
    }
</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :class="estilo1" @click="trocaClasse()"></div>
        <div class="demo"></div>
        <!-- 
            É possível usar a sintaxe de array para aplicação de classes
            
            Na sintaxe de array podemos colocar várias regras

            Por exemplo, podemos colocar um atributo, onde esse atributo recebe o nome da classe. Exemplo: classeCSS, que é um atributo que recebe o nome da classe 'c1'
            Também podemos colocar a expressão {key:valor}, onde key é o nome da classe e o valor é booleano. Se o valor for true, a classe (key) é aplicada, senão, não é aplicada. Exemplo: {girar: aplicarGirar}, onde 'girar' é o nome da classe e 'aplicarGirar' é um atributo booleano.
            Além disso, também é possível colocar o nome da classe entre aspas, a qual é aplicada diretamente, sem obedecer regras. Exemplo: 'umaclassequalquer', que aplica, independente de regras, a classe umaclassequalquer ao elemento
        -->
        <div class="demo" :class="[classeCSS, {girar: aplicarGirar}, 'umaclassequalquer']"></div>
    </div>
    <hr>
    <!--
        Como podemos colocar um atributo no v-bind da classe, é possível alterar a classe pela instância do Vue.
        Por exemplo, podemos alterar o atributo que recebe o nome da classe diretamente com o uso de v-bind.
    -->
    <input type="text" v-model="classeCSS">
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            aplicarC1: false,
            classeCSS: 'c1',
            aplicarGirar: false
        },
        computed: {
            estilo1(){
                return {
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1
                }
            }
        },
        methods:{
            trocaClasse(){
                this.aplicarC1 = !this.aplicarC1
            }
        }
    })
</script>