<html>
    <head></head>
    <body>
        <div id="app">
            <p>{{ titulo }}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app', //elemento que o vue vai manipular
                data: { //objeto com dados que serão usados na aplicação
                    titulo: 'Usando VueJS 2'
                }
            });
        </script>
    </body>
</html>
