<html>
    <head></head>
    <body>
        <div id="app">
            <input type='text' v-on:input="alterarTitulo">
            <p>{{ titulo }}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app', //elemento que o vue vai manipular
                data: { //objeto com dados que serão usados na aplicação
                    titulo: 'Usando VueJS 2'
                },
                methods: { //métodos que são executados a partir da ocorrência de um evento
                    alterarTitulo(event) {
                        this.titulo = event.target.value
                    }
                }
            });
        </script>
    </body>
</html>
