<template>
  <div id="app">
    <h1>{{titulo}}</h1>
  </div>
</template>

<script>
  export default {
    data: function(){
      return {
        titulo: 'Olá mundo'
      }
    }
  }
</script>

<style>
#app{
  background: blue;
  color: white;
}
</style>