<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <!-- a diretiva v-if é usada para renderização condicional -->
    <p v-if="logado">Usuário Logado: {{ nome }}</p>
    <p v-else>Nenhum usuário logado</p> <!-- a diretiva v-else só vai funcionar se o elemento imediatamente anterior for o v-if, senão ela não funcionará corretamente. Aí, nesse caso, deveria ser usado o v-if com outra condicional -->

    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar'}}</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Naun Lemos Belo',
            logado: false
        }
    })
</script>