<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <template v-if="logado">
        <p>Usuário Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Anônimo</p>
    <p v-else>Nenhum usuário logado</p>

    <p>{{ checkbox ? 'checkbox ativo' : 'checkbox inativo' }}</p>

    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar'}}</button>
    <button @click="anonimo = !anonimo">{{ anonimo ? 'Sair Anonimo' : 'Entrar Anonimo'}}</button>
    <input type="checkbox" v-model="checkbox">
    <!-- o v-show não remove o elemento do dom, como faz o v-if, ele apenas esconde com css. -->
    <!-- deve ser usado para casos em que não há perigo em apenas esconder o elemento da tela e para quando é muito custoso computacionalmente gerar e remover um elemento do dom (casos onde o elemento é demorado para ser gerado, ou muito grande)-->
    <footer v-show="logado">
        <p>Desenvolvido para você</p>
    </footer>
    <!-- O v-show não tem um equivalente ao v-else, para fazer outros casos, tem que colocar outras condicionais, como: v-show="!logado" -->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Naun Lemos Belo',
            logado: false,
            anonimo: true,
            checkbox: false
        }
    })
</script>