<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <!-- a tag template serve para agrupar um conjunto de tags que se comportarão de modo igual, mas diferente da tag div, a tag template não será renderizada no template, renderizando apenas o seu conteúdo -->
    <!-- sobre a tag template https://www.w3schools.com/tags/tag_template.asp -->
    <template v-if="logado">
        <p>Usuário Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>
    <p v-else-if="anonimo">Anônimo</p> <!-- caso intermediário, pode-se ter n casos intermediários, não há limite -->
    <p v-else>Nenhum usuário logado</p>

    <p>{{ checkbox ? 'checkbox ativo' : 'checkbox inativo' }}</p>

    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar'}}</button>
    <button @click="anonimo = !anonimo">{{ anonimo ? 'Sair Anonimo' : 'Entrar Anonimo'}}</button>
    <input type="checkbox" v-model="checkbox">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Naun Lemos Belo',
            logado: false,
            anonimo: true,
            checkbox: false
        }
    })
</script>