<script src="https://unpkg.com/vue"></script>

<div id="app">
    <!-- 
        1. Ligue o botão para alternar a exibição dos dois parágrafos. 
        Use ambos v-if e v-show e inspecione os elementos para ver a diferença
    -->
    <div>
        <h1>01</h1>
        <button @click="ver = !ver">Alternar</button>
        <template v-if="ver">
            <p>Você quer me ver...</p>
        </template>
        <template v-else>
            <p>...ou eu</p>
        </template>

        <div v-show="ver">
            <p>Você quer me ver...</p>
        </div>
        <div v-show="!ver">
            <p>... ou eu</p>
        </div>
    </div>

    <!-- 
        2. Exiba em uma <ul> um array de elementos da sua escolha. 
            Imprima também o índice de cada elemento
    -->
    <div>
        <h1>02</h1>
        <ul>
            <li v-for="(cor, i) in cores">{{ i }} - {{ cor }}</li>
        </ul>
    </div>

    <!-- 
        3. Imprimir todos os pares de chave-valor do objeto a seguir 
        {
            titulo: "O Senhor dos Anéis",
            autor: "J.R.R Tolkien",
            volume: "3"
        }
        Imprima também o índice de cada ítem
    -->
    <div>
        <h1>03</h1>
        <ul>
            <li v-for="(atributoValue, atribunoNome, indice) in livro">{{ indice }} - {{ atribunoNome }}: {{ atributoValue }}</li>
        </ul>
    </div>

    <!-- 
        4. Imprimir o objeto a seguir (somente os valores) e fazer um loop aninhado para o array 
        {
            id: 10,
            nome: 'Maria',
            notas: [7.5, 8, 8.5, 9]
        }
    -->
    <div>
        <h1>04</h1>
        <ul>
            <li v-for="valorAttr in aluno">
                <template v-if="Array.isArray(valorAttr)">
                    Notas
                    <ul>
                        <li v-for="nota in valorAttr">{{nota}}</li>
                    </ul>
                </template>
                <template v-else>
                    {{ valorAttr }}
                </template>
            </li>
        </ul>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ver: true,
            cores: ['Azul', 'Roxo', 'Violeta'],
            livro: {
                titulo: "O Senhor dos Anéis",
                autor: "J.R.R Tolkien",
                volume: "3"
            },
            aluno: {
                id: 10,
                nome: 'Maria',
                notas: [7.5, 8, 8.5, 9]
            }
        }
    });
</script>