<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <!-- o v-for é colocado na tag que deve ser repetida -->
        <!-- o v-for recebe x in lista, onde x é uma variável que representará um item da lista. A variável lista deve existir na instância do Vue -->
        <li v-for="cor in cores" :teste="cor">{{ cor }}</li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome:'Ana', idade:26, peso:59 },
                { nome:'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>