<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores" :key="cor"> <!-- o atributo key é uma dica para o Vue, para que ele possa renderizar corretamente. Portanto, é importante que o atributo aqui informado seja uma chave primária ou chave candidata -->
            {{cor}}
        </li>
    </ul>
    <button @click="cores.push('branco')">Adicionar</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome:'Ana', idade:26, peso:59 },
                { nome:'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>