<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <!-- percorrendo um array numérico -->
    <div v-for="n in 10">{{n}}</div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome:'Ana', idade:26, peso:59 },
                { nome:'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>