<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="pessoa in pessoas">
            <h1>{{ pessoa.nome }}</h1>
            <!-- é possível percorrer os atributos de um objeto -->
            <div v-for="(valorAtributo, atributoNome, index) in pessoa">
                {{ index }} - {{ atributoNome }}: {{valorAtributo}}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome:'Ana', idade:26, peso:59 },
                { nome:'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>