<meta charset="URT-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <template v-for="(cor, index) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ index }}</p>
    </template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome:'Ana', idade:26, peso:59 },
                { nome:'Guilherme', idade: 22, peso: 89 }
            ]
        }
    })
</script>