<template>
    <div class="new-task">
        <input v-model="name" type="text" @keydown.enter="add" class="form-element" placeholder="Nova tarefa">
        <button @click="add" class="form-element">+</button>
    </div>
</template>

<script>
export default {
    data(){
        return {
            name: ''
        }
    },
    methods:{
        add(){
            this.$emit('taskAdded', this.name)
            this.name = ''
        }
    }
}
</script>

<style>
    .new-task{
        margin: 30px;
    }

    .form-element{
        outline: none;
        font-size: 2rem;
        border: 1px solid #fff;
        padding: 5px 10px 8px;
        color: #fff;
        border-radius: 0px;
    }

    input.form-element{
        width:400px;
        background: #FFF2;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    button.form-element{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #2196F3;
        border-left: none;
        cursor: pointer;
    }
</style>