<template>
    <div class="tasks-progress">
        <span class="progress-value">{{ progress }}%</span>
        <div class="progress-bar" :style="{width: progress + '%'}"></div>
    </div>
</template>
    
<script>
export default {
    props: {
        progress: {
            type: Number, 
            default: 0
        }
    }
}
</script>

<style scoped>
    .tasks-progress{
        position: relative;
        width: 80%;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 8px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .progress-bar{
        position: absolute;
        border-radius: 6px;
        height: 100%;
        background-color: #4ACF50;
        align-self: flex-start;
        top: 0%;
    }

    .progress-value{
        z-index: 1;
        text-align: center;
    }
</style>