<template>
    <div class="task-grid">
        <template v-if="tasks.length">
            <Task v-for="(task,i) in tasks" :key="task.name" :task="task" @taskStateChanged="$emit('taskStateChanged', i)" @taskDeleted="$emit('taskDeleted', i)" /> <!-- passando a propriedade com v-bind, ele é passado como objeto (dado), se passar sem v-bind, é passado o dado como string -->
        </template>
        <template v-else>
            <p class="no-task">Sua vida está em dia :D</p>
        </template>
    </div>
</template>

<script>
import Task from './Task.vue'

export default {
    props: {
        tasks: {
            type: Array,
            required: true
        }
    },
    components: {
        Task
    }
}
</script>

<style>
    .task-grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .task-grid .task{
        margin: 4px;
    }
    .no-task{
        color: #AAA;
        font-size: 2rem;
    }
</style>