<template>
    <div class="task" :class="stateClass" @click="$emit('taskStateChanged', task)">
        <span @click.stop="$emit('taskDeleted', task)" class="close">x</span> <!-- o @click.stop faz com que o evento de click não seja propagado para o elemento exterior -->
        <p>{{task.name}}</p>
    </div>
</template>

<script>
export default {
    props: {
        task: {
            type: Object,
            required: true
        }
    },
    computed:{
        stateClass(){
            return {
                pending: this.task.pending,
                done: !this.task.pending
            }
        }
    }

}
</script>

<style scope>
    .task{
        position: relative;
        box-sizing: border-box;
        width: 250px;
        height: 100px;
        padding: 6px;
        border-radius: 6px;
        font-size: 1.4rem;
        font-weight: 300;
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pending{
        border-left: 8px solid #B73229;
        background: #F44336;
    }
    .done{
        color: #ddd;
        border-left: 8px solid #0A8F08;
        background: #4CAF50;
        text-decoration: line-through;
    }

    .pending .close{
        background: #B73229;   
    }

    .done .close{
        background: #0a8f08;
    }

    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: .6em;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
</style>