<script src="https://unpkg.com/vue"></script>

<div id="app">
    <comp></comp>
    <comp></comp>
    <comp></comp>
</div>

<script>
    Vue.component('comp', {
        template: `
            <div>
                <h1 ref="aulaRef">{{ aula }}</h1>
                <h2>{{ modulo }}</h2>
                <button @click="alterarAula">Alterar Aula</button>
                <button @click="alterarModulo">Alterar Modulo</button>        
            </div>
        `,
        data: function(){
            return {
                aula: 'Montando instancia Vue',
                modulo: 'Instancia Vue'
            }
        },
        methods:{
            alterarAula(){
                this.aula += '#'
            },
            alterarModulo(){
                this.modulo += '#'
            }
        }
    })

    const vm = new Vue({
        el: '#app'
    })
</script>