<script src="https://unpkg.com/vue"></script>

<div id="app1">
    {{ titulo }}
    <button @click="alterar">Alterar</button>
</div>

<script>
    const vm = new Vue({
        el: '#app1',
        data: {
            titulo: 'Teste 1'
        },
        methods:{
            alterar(){
                this.titulo += '!!!!'
            }
        }
    })

    //se fizer no console vm.titulo = "fazer", a propriedade é atualizada reativamente 
</script>