<script src="https://unpkg.com/vue"></script>

<div id="app">
    <h1>{{titulo}}</h1>
    <button @click="titulo += '#'">Alterar</button>
    <button @click="$destroy()">Destruir</button>
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Ciclo de vida'
        },
        beforeCreate(){
            console.log('Antes de criar')
        },
        created(){
            console.log('Criado')
        },
        beforeMount(){
            console.log('Antes de montar')
        },
        mounted(){
            console.log('Montado DOM')
        },
        beforeUpdate(){
            console.log('Antes de atualizar')
        },
        updated(){
            console.log('Atualizado')
        },
        beforeDestroy(){
            console.log('Antes de destruir')
        },
        destroyed(){
            console.log('Destruído')
        }
    })

    //uma vez destruído, o template fica como na última vez que o Vue foi usado, mas o Vue não é mais funcional
</script>