<script src="https://unpkg.com/vue"></script>

<div id="app">
    <h1 ref="aulaRef">{{ aula }}</h1>
    <h2>{{ modulo }}</h2>
    <button @click="alterarAula">Alterar Aula</button>
    <button @click="alterarModulo">Alterar Modulo</button>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            aula: 'Minha aula',
            modulo: 'Meu Modulo'
        },
        methods:{
            alterarAula(){
                this.aula += '#'
            },
            alterarModulo(){
                this.modulo += '#'
                console.log(this.$refs.aulaRef.innerText)
            }
        }
    })

    // vm.$refs.aulaRef.innerText = "alterado diretamente" 
</script>