<script src="https://unpkg.com/vue"></script>

<div id="app1">
    {{ titulo }}
    <button @click="alterar">Alterar</button>
</div>

<script>
    const vm1 = new Vue({
        el: '#app1',
        data: {
            titulo: 'Teste 1'
        },
        methods:{
            alterar(){
                this.titulo += '????'
            }
        }
    })
</script>