<script src="https://unpkg.com/vue"></script>

<div id="app"></div>

<script>
    const vm = new Vue({
        template: `
            <div>
                <h1 ref="aulaRef">{{ aula }}</h1>
                <h2>{{ modulo }}</h2>
                <button @click="alterarAula">Alterar Aula</button>
                <button @click="alterarModulo">Alterar Modulo</button>        
            </div>
        `,
        data: {
            aula: 'Montando instancia Vue',
            modulo: 'Instancia Vue'
        },
        methods:{
            alterarAula(){
                this.aula += '#'
            },
            alterarModulo(){
                this.modulo += '#'
            }
        }
    })

    vm.$mount("#app")
</script>