<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Matador de Monstro</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <div id="header">
                <div id="jogador">
                    <img src="img/hero.gif" style="height: 10em;">
                    <div class="barra">
                        <div class="progresso" :style="{'width': jogador.vida +'%', 'background-color': jogador.vida <= 30 ? 'rgb(228, 159, 12)' : 'green'}"></div>
                    </div>
                    {{ jogador.vida }}%
                </div>
                <div id="monstro">
                    <img src="img/monster.gif" style="height: 10em;">
                    <div class="barra">
                        <div class="progresso" :style="{'width': monstro.vida +'%'}"></div>
                    </div>
                    {{ monstro.vida }}%
                </div>
            </div>
            <div id="result" v-show="endGame">
                <template v-if="endGame">
                    <p v-if="!jogador.vivo" :style="{'color':'red'}" style="text-align: center;">Você perdeu</p>
                    <p v-else :style="{'color':'green'}" style="text-align: center;">Você venceu</p>
                    <div style="width: 100%; text-align: center;">
                        <button @click="sair()" :class="[buttonClass, 'gray']"><img src="img/door.png"></button>
                    </div>
                </template>
            </div>
            <div id="actions" v-if="!endGame">
                <template v-if="!iniciouJogo">
                    <button @click="iniciarJogo()" :class="[buttonClass, 'blue']">Iniciar Jogo</button>
                </template>
                <template v-else>
                    <button @click="atacar()" :class="[buttonClass, 'red']"><img src="img/easy_sword.gif"></button>
                    <button @click="ataqueEspecial()" :class="[buttonClass, 'yellow']"><img src="img/sword.gif"></button>
                    <button @click="curar()" :class="[buttonClass, 'green']"><img src="img/potion.gif"></button>
                    <button @click="sair()" :class="[buttonClass, 'gray']"><img src="img/door.png"></button>
                </template>
            </div>
            <div id="logs" v-show="Array.isArray(jogador.log) && jogador.log.length">
                <template v-for="(log, indice) in jogador.log">
                    <div class="log-blue">{{ jogador.log[indice] }}</div>
                    <div class="log-red">{{ monstro.log[indice] }}</div>
                </template>
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="script.js"></script>
    </body>
</html>