#header, #actions, #logs, #result{
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: .5em;
}

#result p{
    font-size: 1em;
    font-family: sans-serif;
}

#actions{
    text-align: center;
    text-transform: uppercase;
}

#jogador, #monstro{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    font-family: sans-serif;
}

.barra{
    width: 70%;
    height: 20px;
    border: 1px solid green;
    margin: auto;
    margin-bottom: 1em;
}

.progresso {
    height: 100%;
    background: green;
    transition: width 200ms;
}

.button{
    margin: 1em .5em;
    padding: 1em;
}

.blue{
    background:rgb(39, 15, 95);
    color: #fff;
}
.red{
    background:rgb(95, 15, 15);
    color: #fff;
}
.yellow{
    background:rgb(228, 159, 12);
    color: #000;
}
.green{
    background:#6db373;
    color: #fff;
}
.gray{
    background:rgb(228, 228, 228);
    color: #000;
}

button img{
    height: 7em;
}
button{
    width: 10em;
    cursor: pointer;
}

.noborder{
    border: none;
}

.log-blue, .log-red{
    background-color: rgb(39, 15, 95);
    color: #fff;
    margin: .2em auto;
    width: 60%;
    text-align: center;
    padding: .4em;
    font-family: sans-serif;
}

.log-red{
    background-color: rgb(109, 8, 8);
}


