<template>
	<div id="app">
		<h1>Diretivas</h1>
		<p v-text="'text dentro da tag'"></p>
		<p v-html="'essa é doidona e interpreta <strong>html</strong>'"></p>
		<hr>
		<p v-destaque="cor">Usando uma diretiva personalizada</p>
		<p v-destaque:fundo="cor">fundo colorido</p>
		<p v-destaque:fundo.atrasar="cor">Esse ta com modificador e com fundo</p>
		<hr>
		<p v-destaque-local.atrasar.alternar="{cor1:'green', cor2:'red', atraso:2000, intervalo: 100}">É uma diretiva local</p>
	</div>
</template>

<script>
export default {
	//https://br.vuejs.org/v2/guide/custom-directive.html
	data(){
		return{
			cor: 'lightblue'
		}
	},
	//definindo diretivas locais
	directives: {
		'destaque-local': {
			bind(el, binding, vnode){
				const aplicarCor = cor => {
					if(binding.arg === 'fundo'){
						el.style.backgroundColor = cor
					}else{
						el.style.color = cor
					}
				}

				let atraso = binding.value.atraso
				if(binding.modifiers['atrasar']) atraso = 3000

				const cor1 = binding.value.cor1
				const cor2 = binding.value.cor2
				let corAtual = cor1

				setTimeout(() => {
					if(binding.modifiers['alternar']){
						setInterval(() => {
							corAtual = corAtual === cor1 ? cor2 : cor1
							aplicarCor(corAtual)
						}, binding.value.intervalo)
					}else{
						aplicarCor(binding.value.cor1)
					}
				}, atraso)
			}
		}
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	font-size: 2.5rem;
}
</style>
