<template>
	<div id="app">
		<h1>Filtros & Mixins</h1>
		<hr>
		<p>{{ cpf | cpf | inverter }}</p> <!-- para usar o filtro, basta usar o pipe com o nome do filtro. Além disso, é possível colocar mais de um filtro. Também não há conflito do nome da propriedade com o filtro -->

		<input type="text" :value="cpf | cpf"> <!-- também é possível aplicar o filtro no v-bind -->
		<hr>
		<Frutas />
		<hr>
		<div>
			<ul>
				<li v-for="fruta in frutas" :key="fruta">{{fruta}}</li>
			</ul>
			<input type="text" v-model="fruta" @keydown.enter="add">
		</div>
	</div>
</template>

<script>
import frutasMixin from './frutasMixin'
import Frutas from './Frutas.vue'

export default {
	components: {
		Frutas
	},
	mixins: [
		frutasMixin
	],
	data(){
		return{
			cpf: '06608809987'
		}
	},
	filters:{
		cpf(valor){
			const arr = valor.split('')
			arr.splice(3, 0, '.')
			arr.splice(7, 0, '.')
			arr.splice(11, 0, '-')
			return arr.join('')
		}
	},
	created(){
		console.log('Created - App.vue')
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	font-size: 2.5rem;
}
</style>
