<template>
    <div class="container">
        <h1>Componente Usuário</h1>
        <p>Esse é um componente muito legal!</p>
        <p>{{ nome }} - {{idade}} - {{ altura }}</p>
        <button @click="alterarNome">Alterar Nome</button>
        <hr>
        <div class="componentes">
            <!-- escutando o evento nomeMudou e alterando a propriedade nome de acordo com o que foi retornado pelo evento -->
            <app-usuario-info v-bind:nome="nome" :altura="altura" :idade="idade" @nomeMudou="nome = $event" :reiniciarFn="reiniciarNome" />
            <app-usuario-editar :idade="idade" :altura="altura" @alturaMudou="altura = $event" />
        </div>
    </div>
</template>

<script>
//a comunição entre um componente pai e um componente filho se dá pelas propriedades
//é importante ressaltar que os nomes das propriedades são case sensitive

import AppUsuarioInfo from './UsuarioInfo'
import AppUsuarioEditar from './UsuarioEditar'

export default {
    data(){
        return {
            nome: 'Naun',
            idade: 26,
            altura: 166
        }
    },
    methods:{
        alterarNome(){
            this.nome = 'Ana'
        },
        reiniciarNome(){
            this.nome = 'Pedro'
        }
    },
    components: { AppUsuarioInfo, AppUsuarioEditar }
}
</script>

<style scoped>
    .container {
        background-color: #27363b;
        color: #fff;
        padding: 10px;
    }

    .container hr {
        margin: 20px 10px;
    }

    .componentes {
        display: flex;
    }

    .componentes > * {
        margin: 10px;
    }
</style>
