<template>
    <div class="componente">
        <h2>As Informações de Usuário</h2>
        <p>Vários detalhes...</p>
        <p>Nome do usuário: <strong>{{ nome }} - {{idade}} - {{ altura }}</strong></p>
        <button @click="reiniciarNome">Reiniciar Nome</button>
        <button @click="reiniciarFn">Reiniciar Nome (Callback)</button>
    </div>
</template>

<script>
import Barramento from '@/barramento'

export default {
    props: {
        nome: {
            //required: true,
            default: 'Anônimo',
            /*
            default: function(){
                return Array(10).fill(0).join(',')
            },
            */
            type: String   
        },
        reiniciarFn: Function,
        idade: Number,
        altura: {
            required: true,
            type: Number
        }
    },
    methods: {
        inverterNome(){
            return this.nome.split('').reverse().join('')
        },
        reiniciarNome(){
            this.nome = 'Naun'
            this.$emit('nomeMudou', this.nome) //emitindo um evento com nome "nomeMudou"
            /*
            this.$emit('nomeMudou', {
                novo: this.nome,
                antigo: antigo
            })
            */
        }
    },
    created(){
        Barramento.quandoIdadeMudar(idade => {
            this.idade = idade
        })
    }
}
</script>

<style scoped>
    .componente {
        flex: 1;
        background-color: #ec485f;
        color: #fff;
    }
</style>
