<template>
    <div class="componente">
        <h2>Alterar os Dados de Usuário</h2>
        <p>Edite as informações</p>
        <p>Idade do Usuário: <strong>{{ idade }}</strong></p>
        <p>Altura do Usuário: <strong>{{ altura }}</strong></p>
        <button @click="alterarIdade">Alterar Idade</button> 
        <button @click="alterarAltura">Crescer</button> 
    </div>
</template>

<script>
import Barramento from '@/barramento'

export default {
    props: {
        idade: Number,
        altura: {
            required: true,
            type: Number
        }
    },
    methods: {
        alterarIdade(){
            //this.$emit('idadeMudou', 33)
            this.idade = 33
            Barramento.alterarIdade(this.idade)
        },
        alterarAltura(){
            this.altura += 1
            this.$emit('alturaMudou', this.altura)
        }
    }
}
</script>

<style scoped>
    .componente {
        flex: 1;
        background-color: #98b99a;
        color: #fff;
    }
</style>
