@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* Área dos pontos */
.scores{
    display: flex;
}

.score{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1{
    font-weight: 300;
    font-size: 1.6rem;
}

.lifebar{
    width: 80%;
    height: 20px;
    border: 1px solid #aaa;
}

.lifebar .life{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.lifebar .life.danger{
    background-color: indianred;
}

/** Área do resultado */
.result{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win{
    color: green;
}

.result .lose{
    color: indianred;
}

/* Área dos botões */
.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid gainsboro;
}

.attack{
    background-color: indianred;
    color: white;
}

.especial-attack{
    background-color: khaki;
    color: black;
}

.heal{
    background-color: cadetblue;
    color: white;
}

.give-up{
    background-color: gainsboro;
    color: black;
}

.new-game{
    background-color: #4253af;
    color: #fff;
}

/* Área dos Logs */
.logs ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    padding: 3px 0;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.player{
    background-color: rgba(134, 134, 212, 0.589);
    color: white;
}

.monster{
    background-color: rgba(220, 20, 60, 0.38);
    color: white;
}


