<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <!-- 
        1. Exibir em "resultado" o texto 'Valor diferente' enquanto "valor" for diferente de 37
        Mostrar 'Valor Igual' quando o valor for "igual" a 37 

        2.Monitorar as mudanças de "resultado" e reiniciar o "valor" para 0 depois de 5 segundos 
    -->
    <div>
        <p>Valor atual: {{ valor }}</p>
        <button @click="valor+=5">Soma 5</button>
        <button @click="valor+=1">Soma 1</button>
        <p>{{ resultado }}</p>
    </div>


</div>

<script>
    new Vue({
        el:'#desafio',
        data: {
            valor: 0
        },
        computed: {
            resultado(){
                return this.valor == 37 ? 'Valor Igual' : 'Valor Diferente'
            }
        },
        watch: {
            resultado(novo, velho){ //quando o resultado muda, é executado essa função
                console.log(`new: ${novo} old: ${velho}`);
                setTimeout(()=>{
                    this.valor = 0;
                }, 5000);
            }
        }

    })
</script>