<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app">
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="diminuir">Diminuir</button>
    <button v-on:click="contador2++">Não deve disparar resultado</button>
    <button v-on:click="contador++">DISPARA?</button>
    <p>Contador {{ contador }} | {{ contador2 }}</p>
    <p>Resultado: {{ resultado }}</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            contador2: 0
        },
        computed: {
            resultado(){
                console.log('chamou resultado');
                return this.contador >= 5 ? 'Maior ou igual a 5' : 'Menor que 5'
            }
        },
        methods: {
            aumentar(){
                this.contador++
            },
            diminuir(){
                this.contador--
            }
        }
    })
</script>
