<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app">
    <p>{{ titulo }}</p>
    <input type="text" v-model="titulo">

    <!-- o v-model é o mesmo que o código a seguir, mas bem mais simples -->
    <input type="text" v-bind:value="titulo" v-on:input="titulo = $event.target.value">

</div>
<script>
    new Vue({
        el: '#app', //elemento que o vue vai manipular
        data: { //objeto com dados que serão usados na aplicação
            titulo: 'Usando VueJS 2'
        }
    });
</script>
