<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app">
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="diminuir">Diminuir</button>
    <button v-on:click="contador2++">Não deve disparar resultado</button>

    <p>Contador {{ contador }} | {{ contador2 }}</p>
    <p>Resultado: {{ resultado }}</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            contador2: 0
        },
        computed: {
            resultado(){
                console.log('chamou resultado');
                return this.contador >= 5 ? 'Maior ou igual a 5' : 'Menor que 5'
            }
        },
        watch:{
            contador(novo, antigo){ //deve, necessariamente, ser o nome de um atributo
                console.log('Valor novo: '+novo+ ' | Valor anterior: '+antigo);
                //simulando assíncronicidade
                setTimeout(()=>{ //necessário usar o arrow function para que o "this" aponte para a instância do Vue. Se for usado uma function normal, o "this" irá apontar para si 
                    this.contador = 0
                }, 2000); //zera o valor do contador após 2 segundos
            }
            //caso fosse necessário usar o function ao invés de arrow function, poderia ser feito da seguinte forma:
            /*
                const instanciaVue = this
                setTimeout(()=>{ //necessário usar o arrow function para que o "this" aponte para a instância do Vue. Se for usado uma function normal, o "this" irá apontar para si 
                    instanciaVue.contador = 0
                }, 2000);
            */ 
        },
        methods: {
            aumentar(){
                this.contador++
            },
            diminuir(){
                this.contador--
            }
        }
    })
</script>
