<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <!-- 1. Use interpolação para apresentar seu nome e idade -->
    <p>Usando VueJS - {{ nome }} ({{ idade }})</p>
    <!-- 2. Mostre sua idade * 3 -->
    <p>{{ idade3() }}</p>
    <p>{{ idade * 3 }}</p>
    <!-- 3. Usando uma função, mostra um numero aleatório -->
    <p v-once>{{ nQualquer() }}</p>
    <p>{{ Math.random() }}</p>
    <!-- 4. Usando diretiva, mostre uma imagem qualquer -->
    <img v-bind:src="img" height="200">
    <!-- 5.Inicialize o input com o seu nome -->
    <br>
    <input type="text" v-bind:value="nome" v-on:input="alterarNome">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Naun',
            idade: 26,
            img: 'https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW1nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80'
        },
        methods:{
            idade3(){
                return this.idade * 3 
            },
            nQualquer(){
                return Math.random();
            },
            alterarNome(event){
                this.nome = event.target.value;
            }
        }
    });
</script>