<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button @click="somar">Somar 1</button> <!-- v-on -> @ -->
    <input type="text" :value="contador"> <!-- v-bind -> : -->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0
        },
        methods:{
            somar(){
                this.contador++
            }
        }
    });
</script>

