<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p v-once>{{ titulo }}</p> <!-- v-once vai fazer com que essa tag não seja mais atualizada -->
    <p>{{ saudacao() }}</p>
    <div v-html="link"></div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: "Titulo",
            link: "<a href='http://google.com'>Google</a>"
        },
        methods: {
            saudacao(){
                this.titulo = "Novo Titulo";
                return this.titulo
            }
        }
    });
</script>