<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <p>{{ saudacao() }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS'
        },
        methods: { //É importante que uma função e um dado não tenham o mesmo nome, visto que o Vue joga ambos para o mesmo nível. Assim, se ambas tiverem o mesmo nome, ocorrerá um conflito
            saudacao: function(){ //para chamar um método com {{ }} deve-se usar o () -> {{ saudacao() }}
                return this.titulo 
            }
        }
    });
</script>