<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ saudacao() }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS'
        },
        methods: {
            saudacao: function(){ //para chamar um método com {{ }} deve-se usar o () -> {{ saudacao() }}
                return 'Boa semana'
            }
        }
    });
</script>