<template>
	<div id="app">
		<h1>Registrar Reclamação</h1>
		<div class="conteudo">
			<div v-if="!enviado" class="painel">
				<div class="cabecalho">Formulário</div>
				<Rotulo nome="E-mail">
					<!-- TWO WAY DATA-BIDING -> vinculando o dado com o input, assim, ao alterar o dado no input, o dado será alterado em outros lugares e vice-versa -->
					<input type="text" v-model.lazy.trim="usuario.email"> <!-- v-model.lazy faz com que o dado no twoway databiding só seja atualizado quando o campo de input perder o foco -->
					<!-- O v-model.trim remove os espaços da frente e de trás do dado -->
				</Rotulo>
				<Rotulo nome="Senha">
					<input type="password" placeholder="Senha" v-model="usuario.senha">
				</Rotulo>
				<Rotulo nome="Idade">
					<!-- v-model.number faz com que o vue coloque o dado como um valor numérico e não como uma string -->
					<input type="number" v-model.number="usuario.idade">
				</Rotulo>
				<Rotulo nome="Mensagem">
					<textarea name="" cols="30" rows="5" v-model="usuario.mensagem"></textarea>
				</Rotulo>
				<Rotulo nome="Características do Problema">
					<span class="mr-4">
						<input type="checkbox" value="reproduzivel" v-model="caracteristicas"> Reproduzível
					</span>
					<span>
						<input type="checkbox" value="intermitente" v-model="caracteristicas"> Intermitente
					</span>
				</Rotulo>
				<Rotulo nome="Qual produto?">
					<span class="mr-4"><input type="radio" value="web" v-model="produto"> Web</span>
					<span class="mr-4"><input type="radio" value="mobile" v-model="produto"> Mobile</span>
					<span><input type="radio" value="outros" v-model="produto"> Outro</span>
				</Rotulo>
				<Rotulo nome="Prioridade">
					<select v-model="prioridade">
						<option v-for="prioridade in prioridades" :key="prioridade.codigo" :value="prioridade.codigo" :selected="prioridade.codigo === 2">{{prioridade.nome}}</option>
					</select>
				</Rotulo>
				<Rotulo nome="Primeira Reclamação?">
					<Escolha v-model="escolha" />
				</Rotulo>
				<hr>
				<button @click.prevent="enviar">Enviar</button>
			</div>
			<div v-else class="painel">
				<div class="cabecalho">Resultado</div>
				<Rotulo nome="E-mail">
					<span>{{usuario.email}}</span>
				</Rotulo>
				<Rotulo nome="Senha">
					<span>{{usuario.senha}}</span>
				</Rotulo>
				<Rotulo nome="Idade">
					<span>{{usuario.idade}}</span>
				</Rotulo>
				<Rotulo nome="Mensagem">
					<span style="white-space:pre; text-align: left;">{{usuario.mensagem}}</span>
				</Rotulo>
				<Rotulo nome="Marque as Opções">
					<span>
						<ul>
							<li v-for="c in caracteristicas" :key="c">{{c}}</li>
						</ul>
					</span>
				</Rotulo>
				<Rotulo nome="Qual produto?">
					<span>{{produto}}</span>
				</Rotulo>
				<Rotulo nome="Prioridade">
					<span>{{prioridade}}</span>
				</Rotulo>
				<Rotulo nome="Primeira Reclamação?">
					<span>{{escolha}}</span>
				</Rotulo>
			</div>
		</div>
	</div>
</template>

<script>
import Rotulo from './components/Rotulo.vue'
import Escolha from './components/Escolha.vue'

export default {
	name: 'app',
	components: { Rotulo, Escolha },
	data(){
		return{
			//o objeto dos dados que serão inseridos pelo formulário não precisa ter todos os dados declarados, visto que o objeto é declarado dinamicamente no JS
			//conforme for sendo usado ele será incrementado. Assim, mesmo se não tiver a declaração de usuario.abc, mas no meio do código houver um v-model para usuario.abc, esse atributo será criado no email
			usuario: {
				email: '',
				senha: '',
				idade: 25, //setando um valor default
				mensagem: '',
			},
			caracteristicas: [], //para o checkbox
			produto: 'web',
			prioridades: [
				{codigo: 1, nome: 'Baixa'},
				{codigo: 2, nome: 'Média'},
				{codigo: 3, nome: 'Alta'},
			],
			prioridade: 1,
			escolha: true,
			enviado: false
		}
	},
	methods:{
		enviar(){
			this.enviado = true
		}
	},
	created(){
		setTimeout(() => {
			this.usuario.email = 'Alterou automático após 5 segundos'
		}, 5000)
	}
}
</script>

<style>

body {
	background-color: #ECECEC;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;

	display: flex;
	flex-direction: column;
}

.conteudo {
	display: flex;
}

.painel {
	flex: 1;
	background: #FFF;
	margin: 0px 10px;
	padding: 20px;
	border: 1px solid #AAA;
	border-radius: 5px;
}

.painel .cabecalho {
	width: 100%;
	background-color: #DDD;
	padding: 10px 0px;
	border-radius: 5px;
	font-size: 1.4rem;
}

.painel button {
	float: right;
	margin: 10px 0px;
	padding: 10px 20px;
	font-size: 1.4rem;
	border-radius: 5px;
	color: #FFF;
	background-color: #2196F3;
}

#app h1 {
	font-weight: 200;
	margin: 20px;
	padding: 0;
}

.mr-4 {
	margin-right: 40px;
}
</style>
