<template>
    <div class="contador">
        <span>{{contador}}</span>
        <button @click="adicionar">+</button>
        <button @click="subtrair">-</button>
    </div>
</template>

<script>
export default {
    data(){
        return{
            contador: 0
        }
    },
    methods:{
        adicionar(){
            this.contador++
        },
        subtrair(){
            this.contador--
        }
    }
}
</script>

<!-- caso queira que o estilo se aplique apenas ao escopo do componente, então usa-se o scoped -->
<!-- o scopo do pai passa apenas para os filhos, mas não para os filhos dos filhos -->
<style scoped>
    .contador span{
        border-bottom: 1px solid #ccc;
        height: 30px;
        padding: 5px 25px;
    }
    .contador button{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: coral;
        color: #fff;
        outline: none;
        margin-left: 10px;
    }
</style>