<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ valor }}</p>
    <p>{{ valor2 }}</p>
    <br>
    <!-- 1.Exibe um alert quando o botão for clicado -->
    <button v-on:click="alerta">Clique</button>    
    <br>
    <!-- 2.Escute o evento "keyup" e armazene "valor" na propriedade data (dica: event.target.value) -->
    <input type="text" v-on:keyup="armazena">
    <input type="text" v-on:keyup="valor = $event.target.value"> <!--também pode ser feito assim-->
    <br>
    <!-- 3.Ajuste o exemplo 2 para disparar o eento "keydown" somente quando a tecla for ENTER -->
    <input type="text" v-on:keydown.enter="armazenEnter">
    <input type="text" v-on:keydown.enter="valor2 = $event.target.value"> <!--também pode ser feito assim-->

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            valor: "",
            valor2: ""
        },
        methods:{
            alerta(){
                alert('Alerta');
            },
            armazena(event){
                this.valor = event.target.value;
            },
            armazenEnter(event){
                this.valor2 = event.target.value;
            }
        }
    });
</script>

