<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <p>{{ contador > 10 ? 'Maior que 10' : 'Menor ou igual a 10' }}</p>
    <button v-on:click="somar(5, $event)">Somar</button>
    <!-- modificadores de evento -->
    <p v-on:mousemove="atualizarXY">Mouse {{ x }} e {{ y }}<span v-on:mousemove="parar">PARAR AQUI!!!</span></p>
    <!-- v-on:mousemove.stop -> Interrompe a propagaçao de um evento -->
    <br><br>
    <p v-on:mousemove="atualizarXY">Mouse {{ x }} e {{ y }}<span v-on:mousemove.stop="">PARAR AQUI!!!</span></p>
    <br><br>
    <!-- v-on:click.prevent -> Previne que um evento seja disparado -->
    <a href="google.com" v-on:click.prevent="">Google</a>
    <br><br>
    <a href="google.com" v-on:click="naoNavegar">Google</a>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x:0,
            y:0
        },
        methods:{
            somar(passo, event){
                console.log(event)
                this.contador+=passo;
            },
            atualizarXY(event){
                this.x = event.clientX
                this.y = event.clientY
            },
            parar(e){
                e.stopPropagation();
            },
            naoNavegar(e){
                e.preventDefault();
            }
        }
    });
</script>

