<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <!-- modificadores de evento e de acesso -->
    <input type="text" v-on:keyup="exibirAlert" placeholder="tecle qualquer tecla">
    <input type="text" v-on:keyup.enter="exibirAlertEnter" placeholder="tecle enter">
    <input type="text" v-on:keyup.alt.enter="exibirAlertAltEnter" placeholder="tecle Alt + Enter">
    <input type="text" v-on:keyup.ctrl.c="exibirAlertCtrlC" placeholder="tecle Ctrl + C">
</div>

<script>
    new Vue({
        el: '#app',
        methods:{
            exibirAlert(){
                alert('um alerta')
            },
            exibirAlertEnter(){
                alert('um alerta enter')
            },
            exibirAlertAltEnter(){
                alert('AltEnter');
            },
            exibirAlertCtrlC(){
                alert('Ctrl C')
            }
        }
    });
</script>

