<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button v-on:click="somar(5, $event)">Somar</button>
    <p v-on:mousemove="atualizarXY">Mouse {{ x }} e {{ y }}</p>
    <!-- Se for passar algum atributo como parâmetro para a função e se na função precisar usar o evento, será necessário passar o evento como parâmetro. Para fazer isso, fazemos uso da palavra reservada $event -->
    <!-- Quando nenhum parâmetro é passado, o evento é passado por padrão -->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x:0,
            y:0
        },
        methods:{
            somar(passo, event){
                console.log(event)
                this.contador+=passo;
            },
            atualizarXY(event){
                this.x = event.clientX
                this.y = event.clientY
            }
        }
    });
</script>

