<template>
    <div class="citacoes">
        <span>
            <button @click="numero--">&lt;</button>
            <button @click="numero++">&gt;</button>
        </span>
        <Citacao>
            <!--
            <h1>{{ citacoes[indice].autor }}</h1>
            <p>{{ citacoes[indice].texto }}</p>
            <h6>{{ citacoes[indice].fonte }}</h6>
            -->
            <h1 slot="autor">{{ citacoes[indice].autor }}</h1>
            <p>{{ citacoes[indice].texto }}</p> <!-- sera passado para o slot padrão -->
            <h6 slot="fonte">Fonte duplicada</h6>
            <h6 slot="fonte">{{ citacoes[indice].fonte }}</h6>
        </Citacao>
    </div>
</template>

<script>
import Citacao from './Citacao.vue'

export default {
    data() {
        return {
            numero: 0,
            citacoes: [{
                fonte: 'Jornal do Empreendedor',
                texto: 'Lembre-se sempre que você é absolutamente único. Assim como todos os outros.',
                autor: 'Margaret Mead'
            }, { 
                fonte: 'Frases de Mãe',
                texto: 'Isso não é um quarto, é um chiqueiro.',
                autor: 'Roberta'
            }, {
                fonte: 'Frases de Pai',
                texto: 'Vou contar até 3! 1, 2, 2...',
                autor: 'Gustavo'
            }]
        }
    },
    computed: {
        indice() {
            return Math.abs(this.numero % 3) //Math.abs - valor absoluto, sem sinal de negativo ou positivo
        }
    },
    components: {
        Citacao
    },
    activated(){
        //console.log('ativo') //está sendo apresentado
    },
    deactivated(){
        //console.log('inativo') //não está sendo apresentado
    }
}
</script>

<style scoped>
    .citacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
